#clock{
    width: 400px;
    height: 100px;
    background-color: purple;
    text-align: center;
    margin: auto;
    font-size: 90px;
     padding: 100px;
     color: white; 
     font-family: 'Times New Roman', Times, serif;
}
