
section{
    background-color: #003049;
    
    width: 400px;
    margin: 0% auto;
    border: 5% solid #003049;
    justify-content: center;
     
    display: flex;
    
    
}
div{
    height: 100px;
    width: 200px;
    /* flex-basis: 200px;  */
    font-size: 100px;
}


div:nth-of-type(2){
    /* flex-shrink: 1; */
}
h1{
    color: darkmagenta;
    background-color: darksalmon;
}