h1{
    color: red;

}

@media (min-width:700px) and (max-width:900px){
    h1{
        color: magenta;
    }
}

@media (max-width:500px) and (max-width:650px){
    h1{
        color:purple;
    }
}

