h1{
    text-align: center;
    color: red;
    border: black;
}
hr{
    width: auto
}
p:first-letter{
     font-size: 50px;
     color: rgb(10, 15, 4);
}
p{
    color:  rgb(10, 15, 4);
}
.dream{
    width: 800px;
    height: 400px;
}
img{
    display: inline-block;
}