.specialH2{
     color: royalblue;
     border: 3px red solid;
     background-color: yellow;
     text-shadow: 2px 2px red;
}
h2{
     color: rgba(243, 30, 7, 0.993);
}

h1{
     color: purple;
     background-color: red;
     border-top:  solid gold;
     border-left: green;
     box-shadow: 2px 2px saddlebrown;
     text-shadow: 2px 2px black;
}

p{
     color: rgb(10, 9, 9);
     border: turquoise solid;
     background-color: violet;
}

.specialimg{
     height: 200px;
     border: 3px black solid;
     border-radius: 10px;
}

ol,ul{
     color: springgreen;
}

sup,sub{
     color: green;
}

body{
     
     background-color: rgb(47, 21, 119);
}

button{
     background-color: #fa5;
}


.specialimg2{
     border-color: red;
     border-style: double;

}

h4{
     color: gold;
}

span{
     color: gold;
}

th{
     color: brown;
     border: black;
}

tr{
     border-radius: 0cm;
     border-color: black;
}

tfoot{
     color: black;
     background-color: yellow;
     text-align: center;
}

label{
     color: white;
     background-color: black;
}

label>input{
     background-color: rgb(11, 40, 122);
}

input{
     color: rgb(250, 249, 249);
     color: yellow;
}


