.specialH2{
     color: royalblue;
     border: 3px red solid;
     background-color: yellow;
     text-shadow: 2px 2px red;
}
h2{
     color: rgba(243, 30, 7, 0.993);
     text-decoration: overline;
}

h1{
     color: purple;
     background-color: red;
     border-top:  solid gold;
     border-left: green;
     box-shadow: 2px 2px saddlebrown;
     text-shadow: 2px 2px black;
}
h1:hover{
     color: blue;
}

p{
     color: rgb(236, 183, 191);
     border:t solid;
     background-color: violet;
}
p:hover{
     color:crimson
}

.specialimg:hover{
     height: 200px;
     border: 3px black solid;
     border-radius: 10px;
     
}

ol,ul{
     color: springgreen;
}

sup,sub{
     color: green;
}

body{
     
     background-color: rgb(8, 4, 253);
}

button:hover{
     background-color: #fa5;
}


.specialimg2{
     border-color: red;
     border-style: double;

}

h4{
     color: gold;
}

span{
     color: gold;
}

th{
     color: brown;
     border: black;
}

tr{
     border-radius: 0cm;
     border-color: black;
}

tfoot{
     color: black;
     background-color: yellow;
     text-align: center;
}

label{
     color: white;
     background-color: black;
}

label>input{
     background-color: rgb(11, 40, 122);
}

input{
     color: rgb(250, 249, 249);
     color: yellow;
}

.stylep{
     color: crimson;
     background-color: cyan;
     text-align: center;
     font-family:  'Dancing Script', cursive;
     font-size: x-large;
}

#specialspan{
     font-size: 50px;
     color: black;
     background-color: chartreuse;
}
#specialspan:hover{
     font-size:xx-small;
}
input[type="range"]{
     color:rgb(139, 0, 127);
     background-color: darkorange;
}
.container p:nth-of-type(2n){
     background-color: aqua;
}
form{
     
}



