h1{
    color: black;
    background-color: aqua;
}
h1:hover{
    color: aqua;
    background-color: black;
    text-align: center;
}
div{
    width: 200px;
    height: 200px;
    background-color: red;
    display: inline-block;
    margin: 10px;
    transition: ease-in 5s;
}
img{
    width: 400px;
    height: 200px;
    margin: 8px;
    opacity: 0.24;
}
#sfo:hover{
    opacity: 1;
    transform: rotate(360deg);
    transition: 15s;
}
.img2:hover{
        opacity: 1;
        transition: 15s;
        transform: rotate(360deg);
        
}