h1{
    color: antiquewhite;
}
body{
    /* background-image: url(https://images.unsplash.com/photo-1504714146340-959ca07e1f38?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2NlbmVyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); */
    
     /* url(https://images.unsplash.com/photo-1576468610408-9fef351b5ab6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHVzYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)
    background-color: red; */
   background-color: red;
};
video{
    opacity: 0.121;
    border-radius: 50%;
    border: 5px solid black;
    ;
}
video:hover{
    opacity: 1;
    transition: 30s;
    width: 100%;
    position: absolute;
    
}