*{
    margin: 0;
    padding: 0;
}
body{
    background: url("../images/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.row{

}
marquee{
    margin-top: 27%;
}
.cat{
    margin-top: 30%;
}
.rat{
    margin-top: 50%
}