h1{
    text-align: center;
    color: aqua;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1618556450994-a6a128ef0d9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=659&q=80);
    transition: 30deg;;
}
body{
    /* background-image: url(https://i.pinimg.com/236x/44/f1/a3/44f1a3c57f9b0596454f45516852e0b0.jpg); */
    background-size: cover;
    background-image: url(https://i.pinimg.com/236x/f2/3b/04/f23b0467dd922eac37dd2596176a74b1.jpg);
}
/* img{
    border-radius: 50% auto;
    height: 28px;
    bo */
}
/* nav a{
    color:white;
    text-decoration: none;
    background-color:blue;
    background-size:cover;
    font-size:25px;
    border- radius: 2px; */
}

}
.abc{
    width: 200px;
    height: 180px;
    background-image: url(https://i.pinimg.com/236x/44/f1/a3/44f1a3c57f9b0596454f45516852e0b0.jpg);
    align-content: space-around;
}